@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

document {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    width: 90%;
    margin: 0 auto;
    display: block;
    overflow-y: scroll;
    background-color: #1F2739;
}

caption[class=title] {
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    font-style:normal;
    line-height: 1em;
    color: #4DC3FA;
}

document headers {
    font-size: 1em;
    color: #185875;
    display: table-row;
    text-align: center;
}

document user {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    display: table-row;
    text-align: center;
    color: #A7A1AE;
    background-color: #323C50;

}

document headers > * {
    display: table-cell;
    background-color: #1F2739;
}

document user > * {
    display: table-cell;
    padding: 0.7em;
    border-style: solid;
    border-width: 0px;
    border-color: #00000000;
}

document user:nth-child(odd) {
    background-color: #323C50;
}

document user:nth-child(even) {
    background-color: #2C3446;
}

document headers {
    font-weight: bold;
    font-style: normal;
    color: #A7A1AE;
}

document user > :first-child {
    color: #FB667A;
}

document user:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

user > *:active {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

