document {
    background-color: #3e94ec;
    display: block;
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
}


caption[class=title]{
    display: block;
    max-width: 600px;
    padding:5px;
    width: 100%;
    color: #fafafa;
    font-size: 2.5em;
    font-weight: bold;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}

document headers > * {
    background-color: #70c469;
    padding: 20px 10px;
    text-align: center;
    display: table-cell;
}

document user{
    padding: 1em 1em 1em 1em;
    display:table-row;
    background-color: #EEEEEE;
    color: #6F6F6F;
    font-weight: bold;
}

document headers {
    padding: 1em 1em 1em 1em;
    display:table-row;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
}

document user > * {
    padding: 20px 10px;
    display: table-cell;
    border-style: solid;
    border-width: 0px;
    border-color: #00000000;
}


user:hover > * {
    background-color: rgb(112, 196, 105);
    color: white;
}

user > *:active {
    background-color: #ffff00;
    color: black;
}

user:active > * {
    background-color: #afffa8;
    color: white;
}

		