document {
    width:90%;
    margin: 0 auto;
    display:block;
    border: 4px solid #0038a9;
    margin-top:1.5em;
    margin-bottom:1.5em;
    background-color: #cdf;
    display:table;
    text-align: center;
}


caption[class=title]{
    font-size: 3em;
    display: block;
    width: 8em;
    font-weight: bold;
    margin: -.7em 0px .25em .5em;
    padding: .1em .25em;
    background-color: #0038a9;
    color: white;
    text-align: center;
}

document headers{
    text-align:center;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    display:table-row;
}

document user {
    padding: 1em 1em 1em 1em;
    display: table-row;
    color: #000000;
    font-weight: bold;
    background-color: #cdf;
}

document headers > * {
    display:table-cell;
    background-color: #5f95ff;
}

document user > *:active {
    background-color: yellow;
    color: red;
}

document user:hover:nth-child(odd) {
    background-color: white;
}

document user:hover:nth-child(even) {
    background-color: white;
}

document user:nth-child(odd) {
    color: red;
    background-color: #9bbdff;
}


document user > * {
    display: table-cell;
    padding: 0.3em;
    table-layout: auto;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color:  #0038a9;
}



